
  nav ul li a, .cpr {
    margin: 10px;
    padding: 20;
    color: black;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    letter-spacing: 1px;
  }
  
 
  hr {
    height: 5px;
    color: black;
  }