@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }

 .btndiv {
  position:absolute;
  bottom:20px;
  right: 80px;
  
 }

 