<footer class="footer">
<div class="container-fluid text-center">
    <a href="https://www.facebook.com/"> <i class="btn fa fa-facebook fs-2 text-dark"></i></a>
    <a href="https://www.instagram.com/"> <i class="btn fa fa-instagram fs-2 text-dark"></i></a>
    <a href="https://www.linkedin.com/"> <i class="btn fa fa-linkedin fs-2 text-dark"></i> </a>
    <a href="https://www.youtube.com/"> <i class="btn fa fa-youtube-square fs-2 text-dark"></i> </a> 
    <nav class="navbar navbar-expand-lg  navbar-light bg-transparent justify-content-center  ">
      <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" >Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/" >Terms  Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink= "/">Contact </a>
            </li>
          </ul>    
      </div>
    </nav>
    <p>Copyrights <i class="fa fa-copyright"></i></p>
        <div class="text-center">
            <img src="../navlogo.png" >
        </div>
</div>
</footer>












