
<footer class="text-center bg-light">
  <div class="container">
    <a href="https://www.facebook.com/"> <i class="btn fab fa-facebook fs-2 text-dark"></i></a>
    <a href="https://www.instagram.com/"> <i class="btn fab fa-instagram fs-2 text-dark"></i></a>
    <a href="https://www.linkedin.com/"> <i class="btn fab fa-linkedin-in fs-2 text-dark"></i> </a>
    <a href="https://www.youtube.com/"> <i class="btn fab fa-youtube-square fs-2 text-dark"></i> </a>
    <nav class="navbar navbar-expand-lg  navbar-light bg-transparent justify-content-center  ">
      <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" href="http://" >Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" >Terms and Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href= "/">Contact </a>
            </li>
          </ul>    
      </div>
    </nav>
    <div class="cpr text-center ">
      <p>Copyrights <i class="far fa-copyright"></i>Meal Planner</p>
    </div>
  </div>
</footer>













