
<div class="jumbotron  jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Meal Planner</h1> 
     <hr class="my-4">
    <p class="mb-4 fs-3">Check out Beautiful made Home Cooked Meals <br> We have Recepies for everybody from around the World</p>
    <a class="btn btn-primary btn-lg" href="#section" role="button">Take a look </a>
  </div>
</div>