
<div class="jumbotron jumbotron-fluid text-center mt-5">
  <div class="hero">
    <img class="logobig" src="/hero2.jpg" width="100%" height="20%">
    <p class="hero-text">Check out Beautiful made Home Cooked Meals <br> We have Recepies for everybody from around the World</p>
    <a class="btn btn-dark btn-lg" href="#section" role="button">Take a look </a>
  </div>
</div>