
<div class="jumbotron jumbotron-fluid text-center mt-5">
  <div class="container">
    <img class="logobig" src="/logobig.png" width="70%" height="20%">
    <p class="mb-4 fs-3">Check out Beautiful made Home Cooked Meals <br> We have Recepies for everybody from around the World</p>
    <a class="btn btn-dark btn-lg" href="#section" role="button">Take a look </a>
  </div>
</div>