
<div class="container-flex">
<div class="navlogo m-5  text-center">
      <img src="../navlogo.png" >
</div>
  <nav class="navbar navbar-expand-md  navbar-light bg-transparent  justify-content-md-center ">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav text-center mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">My Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">My Profile</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/">My Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create new Meal</a>
      </li>
         <li class="nav-item mr-1">
            <a href="/login" class="nav-link">Logout</a>
         </li>   
    </ul>  
      </div>
    </div>
  </nav>
</div>





{# {% if is_granted(‘ROLE_ADMIN’) %}
                <li class=“nav-item”>
                    <a class=“nav-link” href=“/create”>Add Event</a>
                </li>
                <li class=“nav-item”>
                    <a class=“nav-link” href=“/create”>Manage User</a>
                </li>
                <li class=“nav-item”>
                    <a class=“nav-link” href=“/create”>Manage Content</a>
                </li>
                <li class=“nav-item”>
                    <a class=“nav-link” href=“/create”>My Profile</a>
                </li>
   {% endif %} #}


