


{% if is_granted('ROLE_ADMIN') == false %}

<div class="container-flex">
	
	<nav class="navbar navbar-expand-md  navbar-light bg-light  justify-content-md-center ">
		<div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarNavDropdown">
				<ul class="navbar-nav text-center mr-auto">
				<li class="nav-item">
						<a class="nav-link" href="/"><img class="logosmall" src="../../logosmall.png" width="50px" height="50px"></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/">Home
							<span class="sr-only"></span>
						</a>
					</li>					
					<li class="nav-item">
						<a class="nav-link" href="/profile/{{ app.user.id }}">My Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/schedule">My Schedule</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/create">Create new Meal</a>
					</li>
					<li class="nav-item mr-1">
						<a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
{% endif %}


{% if is_granted('ROLE_ADMIN') %}


	<div class="container-flex">
		
		<nav class="navbar navbar-expand-md  navbar-light bg-transparent  justify-content-md-center ">
			<div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarNavDropdown">
					<ul class="navbar-nav text-center mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/manageusers">Manage Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/">Manage Content</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/profile/{{ app.user.id }}">My Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/create">Create new Meal</a>
						</li>
						<li class="nav-item mr-1">
							<a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
{% endif %}
