
{% include "components/boot.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center" style="min-height: 10em;
    display: table-cell;
    vertical-align: middle;">You have been blocked! Please try again later.</h1>
</div>

{% endblock %}