{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row" id="section">
        {% for users in user %}
            <div class="col-10 offset-1 col-md-4 offset-md-0 mb-4">
                <div class="card mb-4 bg-transparent">
                 <img class="card-img-top" src="{{ users.user_image }}" style="border:2px solid #e2e2e2;">
                    <div class="card-body shadow bg-light text-center"> 
                     <div class="user-item text-center ">    
                        
                        <h3 class="card-title">{{ users.user_name }} </h3>
                        <br>
                        <div class="mb-1">
                        <a href="/profile/{{ users.id }}" class="btn btn-outline-success  fw-light rounded-pill">Edit</a>
                        <a href="/delete/{{ users.id }}" class="btn btn-outline-danger  fw-light rounded-pill" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>                     
                        </div>
                         
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<div>

{% endblock %}
