{% extends 'base.html.twig' %}
{% block body %}
	{% block hero %}{% endblock %}
	<h2 class="text-center">
		Here you can check your schedule for the week
	</h2>
	<div class="container d-flex justify-content-center">
		<div class="col">
			<div class="d-flex justify-content-center">
				<table class="table table-bordered table-dark text-center align-middle">
					<thead>
						<tr>
							<th>Monday</th>
							<th>Tuesday</th>
							<th>Wendesday</th>
							<th>Thursday</th>
							<th>Friday</th>
							<th>Saturday</th>
							<th>Sunday</th>
						</tr>

					</thead>

					<tbody>
						<tr>
							{% set i = 0 %}
							{% for day in week %}
								{% for meal in meals %}
									{% if day == meal.day and meal.user_fk_id == id %}
										{% set statusMeal = "true" %}
										{% set i = meal %}
									{% endif %}
								{% endfor %}
								{% if statusMeal == "true" %}

									<td>
										<a href="#"><img class="img-thumbnail" src="{{i.meal_image}}" style="width: 99px; height:125px">
											<br><br></a>
											
										{# DELETE BUTTON #}
										<a href="/deleteschedule/{{ i.id }}" onclick="return confirm('Are you sure you want to delete this?')">
											<i class="fas fa-minus btn btn-outline-danger  fw-light rounded-pill"></i>
										</a>
										{# DELETE BUTTON #}
									</td>

								{% else %}

									<td>
										<a href="/" style="text-decoration: none; color:red;">
											<i class="fas fa-plus btn btn-outline-danger  fw-light rounded-pill"></i>
										</a>
									</td>

								{% endif %}

								{% set statusMeal = "false" %}


							{% endfor %}

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div style="height:600px"></div>
{% endblock %}
