{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Days</th>
      <th scope="col">Breakfast</th>
      <th scope="col">Lunch</th>
      <th scope="col">Dinner</th>
      
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Monday</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">wednesday</th>
      <td colspan="2"></td>
      <td></td>
    </tr>

      <tr>
      <th scope="row">Thursday</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td colspan="2"></td>
      <td>r</td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td colspan="2"></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Sunday</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
  </tbody>
</table>

</div>


{% endblock %}

