{% extends 'base.html.twig' %}
{% block body %}
	{% block hero %}{% endblock %}
	<h2 class="text-center">
		Here you can pick your favourite meals and make your own Weekly Planner
	</h2>

	<div class="container d-flex justify-content-center">

		<table class="table table-bordered table-striped table-dark align-middle  text-white text-center  w-75  mt-5">
			<thead>
				<tr>
					<th>Meals of the Day</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wendesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th scope="row">Breakfast</th>
					{% for day in week %}
						{% for meal in meals %}
							{% if day == meal.day and meal.meal_time == "Break Fast" and meal.user_fk_id == id %}
								{% set statusMeal = "true" %}
							{% endif %}
						{% endfor %}
						{% if statusMeal == "true" %}
           
							<td>{{ meals[i].id }}</td>
						{% else %}
							<td>Not found</td>
						{% endif %}
						{% set statusMeal = "false" %}
						{% set i = i+1 %}
					{% endfor %}
				</tr>
        

				<tr>
					<th scope="row">Lunch</th>
					{% set i = 0 %}
					{% for day in week %}
						{% for meal in meals %}
							{% if day == meal.day and meal.meal_time == "Lunch" and meal.user_fk_id == id %}
								{% set statusMeal = "true" %}
							{% endif %}
						{% endfor %}
						{% if statusMeal == "true" %}
							<td>{{ meals[i].meal_name }}</td>
						{% else %}
							<td>Not found</td>
						{% endif %}
						{% set statusMeal = "false" %}
						{% set i = i+1 %}
					{% endfor %}
				</tr>

				<tr>
					<th scope="row">Dinner</th>
					{% set i = 0 %}
					{% for day in week %}
						{% for meal in meals %}
							{% if day == meal.day and meal.meal_time == "dinner" and meal.user_fk_id == id %}
								{% set statusMeal = "true" %}
							{% endif %}
						{% endfor %}
						{% if statusMeal == "true" %}
							<td>{{ meals[i].meal_name }}</td>
						{% else %}
							<td>Not found</td>
						{% endif %}
						{% set statusMeal = "false" %}
						{% set i = i+1 %}
					{% endfor %}
				</tr>


			</tbody>
		</table>
	</div>
{% endblock %}
